@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/liste.js"></script>
 <style>
      .map {
        height: 400px;
        width: 100%;
      }
        .select,
  #locale {
    width: 100%;
  }
  .like {
    margin-right: 10px;
  }
    </style>
    
    <div style="width:100%; height: 800px;">
        <div id="map" class="map" style="position:center;width:100%; height:100%"></div>
        
    </div>
        @*<script src="~/js/init.js"></script>*@
    @*<script src="~/js/draw.js"></script>*@
    <script src="~/js/kml.js"></script>



