 @{
    Layout = "";
}
    <table id='table' width='100%'
           data-toolbar='.toolbar'
           data-height='480'
           data-virtual-scroll='true'
           data-locale="tr-TR"
           data-toggle="table">
        <thead width='100%'>
            <tr>
                <th data-field='id'> Id</th>
                <th data-field='name'>Şehir </th>
                <th data-field='desc'> Tuik İl Kodu</th>
               <th data-field="action" data-formatter="<button id='goster' class='btn btn-secondary m-1'>Göster</button><button id='bilgiAl' class='btn btn-info m-1'>Bilgi AL</button>" data-events="secilenlerActionEvents" data-footer-formatter="footerFormatter">İşlemler</th>

            </tr>
        </thead>
    </table>
    