
    <table id='tableListe' width='100%'
           data-toolbar='.toolbar'
           data-height='480'
           data-virtual-scroll='true'
           data-locale="tr-TR"
           data-toggle="table">
        <thead width='100%'>
            <tr>
                <th data-field='id'> Id</th>
                <th data-field='name'>Il </th>
                <th data-field='desc'> Tuik Il Kodu</th>
                <th data-field='btn'>Islemler</th>

            </tr>
        </thead>
    </table>